@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: local("HelveticaNeueCyr-Light"),
    url(../fonts/HelveticaNeueCyr-Light.otf);
}


@font-face {
    font-family: Exo2-Medium;
    src: local("Exo2-Medium"),
    url(../fonts/Exo2-Medium.otf);
}

