@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: local("HelveticaNeueCyr-Light"),
    url(../Fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.otf);
}


@font-face {
    font-family: Exo2-Medium;
    src: local("Exo2-Medium"),
    url(../Fonts/Exo2Medium/Exo2-Medium.otf);
}

